appdirs==1.4.3
attrs==19.3.0
black==19.10b0
click==7.0
flask==1.1.1
flask-api==2.0
flask-cors==3.0.8
itsdangerous==1.1.0
jinja2==2.11.1
markupsafe==1.1.1
numpy==1.18.1
pandas==1.0.1
pathspec==0.7.0
python-dateutil==2.8.1
pytz==2019.3
regex==2020.2.20
six==1.14.0
stringcase==1.2.0
toml==0.10.0
typed-ast==1.4.1
werkzeug==1.0.0
